# SQL Server connection settings
SQL_SERVER=localhost
SQL_DATABASE=master
SQL_USER=sa
SQL_PASSWORD=YourStrong@Passw0rd
SQL_PORT=1433

# Set to true to use TLS encryption (recommended for production)
SQL_ENCRYPT=false

# Set to false if the server has a trusted certificate (production)
SQL_TRUST_SERVER_CERTIFICATE=true

# Set to true to use Windows / NTLM authentication instead of SQL login
SQL_WINDOWS_AUTH=false
